<div data-view="about">
    <script>
        function about() {
            updateStatus("about loaded");
        }
        function _about() {
            updateStatus("about unloaded");
        }
    </script>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>About iignition</h1>            
            
            <p>Get Started</p>            
            <p>Features</p>         

            <p>If you are after something really small with a few features, you could use this.</p>
            <ul>                
                <li>Data: Get JSON from .json file or a URL that returns JSONp</li>
                <li>View: Load HTML files into a container</li>
                <li>View: Uses #! in url
                </li>
                <li>View: Splash the data onto some HTML (templating)</li>
                <li>View: Splash with rowbind event</li>
                <li>Cache: Uses LocalStorage</li>
                <li>Utility: Switch off Console.Log</li>
            </ul>            
        </div>
    </div>
</div>