<div data-view="form">
        <style>
        [required][data-invalid="true"]{
                border: 1px solid red;
        }
        </style>

        <div class="container">
        <h1>Form</h1>
        <a href="#!home.html">Home</a>
       
        <input type="button" value="lock" id="lock" onclick="$i.lock();">
        <input type="button" value="unlock" id="unlock" onclick="$i.unlock()">
        <form action="" method="post">
                <input type="text" name="name" id="name" required="true" pattern="[A-Za-z]{3}" />
                <input type="text" name="surname" id="surname">
                <input type="text" name="age" id="age">
                <input type="checkbox" name="employee" id="employee" required>
                <input type="submit" value="submit" class="waves-effect waves-light btn">
                
        </form>
</div>
</div>