<div data-view="home">
   
  <div class="section red">
    <div class="container">
      
      <div class="row">
        <div class="col s12 m9">
          <h1 class="header center-on-small-only">About iignition.js</h1>
          <h4 class="light red-text text-lighten-4 center-on-small-only">Learn how to use iignition.js on your mobile device or website</h4>
        </div>
        <div class="col s12 m3">

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!--  Outer row  -->
    <div class="row">

      <div class="col s12 m8 offset-m1 xl7 offset-xl1 center-on-small-only">
        <!--  Material Design -->
        <div id="materialdesign" class="section scrollspy">

          <section class="section">
              <h2 class="header" id="heading">Core Features</h2>
              <p class="caption">Here is a quick list of key features of the library.</p>
    
            <section class="row padding-t">
              <div class="col s12 l4">
                <h4 class="center">Follow W3C Rules</h4>
                <p>If it's not valid HTML, or CSS, it's not valid syntax.</p>
                <p>Features should embed and fit within existing HTML and CSS.</p>
                <p>The more compatible it is, with less custom elements, the more reusable your code is and the less reliant
                  on us you are.</p>
                <br>
              </div>

              <div class="col s12 l4">

                <h4 class="center">Low Learning Curve</h4>
                <p>Always provide the simpler option, and the one that supplements existing knowledge.</p>
                <p>There are other libraries providing bells and thistles, we want to provide a minimal, consistent and standards
                  based alternative.</p>
                <br>
              </div>

              <div class="col s12 l4">

                <h4 class="center">Provide Good Value</h4>
                <p>It's pointless copying existing libraries, providing Yet-another-js-library, that looks the same.</p>
                <p>We want high value on it's own merits, steered by standards and non obtrusive design.</p>
                <p>Features must offer good value to learning curve ratio</p>
              </div>
            </section>
          </section>
        </div>

        <!--  About the Team-->
        <div id="features" class="section scrollspy">
          <h2 class="header">Core Features</h2>
          <p class="caption">Here is a quick list of key features of the library.</p>

          <table>
            <thead>
              <tr class="blue-grey darken-2 white-text">
                <th>Name</th>
                <th>Description</th>
                <th>Complexity [1-5]</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Project Structure</td>
                <td>
                  Index.html on root for Single Page Application<br/>
                  Views, ViewControllers folders by convention
                </td>
                <td>1</td>
              </tr>
              <tr>
                  <td>Page Loading</td>
                  <td>We load standard HTML files from the views folder</td>
                  <td>1</td>
                </tr>
              <tr>
                <td>Routing</td>
                <td>We use client-side URL's, which use #,#! with standard href<br/>
                    a href="#!home.html"
                </td>
                <td>1</td>
              </tr>
              <tr>
                <td>Controller</td>
                <td>A controller is a JavaScript class with onLoad/onRefresh</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Styling</td>
                <td>We test with MaterializeCSS, but you can use anything you wish <br/>
                  We provide a utility css with padding-t, margin-b and generic classes
                </td>
                <td>1</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <!-- Table of Contents -->
      <div class="col hide-on-small-only m3 xl3 offset-xl1">
        <div class="toc-wrapper pin-top" style="top: 0px;">
          <div style="height: 1px;">
            <ul class="section table-of-contents">
              <li>
                <a href="#home_materialdesign" class="active">Core Values</a>
              </li>
              <li>
                <a href="#home_features">Core Features</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>