<div data-view="home">
    <script>
        function home() {
            //updateStatus("home loaded");
            //splashExample1();      

            
        }
        function _home() {
            //updateStatus("home unloaded");
        }

        // $i.ready(function(){
        //     splashExample1();            
        // });
    </script>
    <style>
       [data-id]:hover{
           cursor: pointer;
           background: #ccc;
       }
    </style>
    <div class="row">
           
        <div class="col col-md-6">
            <h1> iignition </h1>
            <div class="table-responsive">
           
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>body</th>
                        </tr>
                    </thead>
                    <tbody id="splashExample1">
                        <tr data-splashtemplate data-splash="data-id=id">
                            <td scope="row" data-splash="id"></td>
                            <td data-splash="title"></td>
                            <td ><span data-splash="body"></span></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-6">
            <p>Basic template splash of data from an external API</p>
            <code>
                $i.Data.getData('https://jsonplaceholder.typicode.com/posts', null, function (data) 
                { 
                    $i.Splash.map('#splashExample1', data, null, function () 
                    {
                        // called when splash has finished.
                    });
                });
            </code>
        </div>
    </div>
</div>