<div data-view="splashDetail">
    <script>
        function splashDetail(data) {
            updateStatus("splashDetail loaded");
            splashDetailExample();
        }
        function _splashDetail() {
            updateStatus("splashDetail unloaded");
        }
    </script>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>Splash Single object into a form to enable editing by the user</h2>
            <p>This is using existing data from an API to splash data onto a form and show the data that the user previously
                submitted.</p>
            <form>
                <div>
                    <div data-splashtemplate="">
                        <p>ID:
                            <span data-splash="id"></span>
                            <span class="help-block">This will be hidden from the user, just shown for example. Dont show ids to user in UI.</span>
                        </p>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="helpName" placeholder="e.g. Name" data-splash="value=name">
                            <small id="helpSuite" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="helpUsername" placeholder="e.g. bob1"
                                data-splash="value=username">
                            <small id="helpSuite" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="helpEmail" placeholder="e.g. bob1@email.com"
                                data-splash="value=email">
                            <small id="helpSuite" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" aria-describedby="helpPhone" placeholder="Phone" data-splash="value=phone">
                            <small id="helpPhone" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="url">Website</label>
                            <input type="url" class="form-control" name="website" id="website" aria-describedby="helpUrl" placeholder="website" data-splash="value=website">
                            <small id="helpUrl" class="form-text text-muted">Help text</small>
                        </div>
                        <hr>
                        <h2>Address</h2>
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" name="street" id="street" aria-describedby="helpStreet" placeholder="e.g. 123 ABC street"
                                data-splash="value=address.street">
                            <small id="helpSuite" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="suite">Suite</label>
                            <input type="text" class="form-control" name="suite" id="suite" aria-describedby="helpSuite" placeholder="Suite" data-splash="value=address.suite">
                            <small id="helpSuite" class="form-text text-muted">Help text</small>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" id="city" aria-describedby="helpCity" placeholder="City" data-splash="value=address.city,address.city">
                            <small id="helpCity" class="form-text text-muted">Help text</small>
                        </div>

                        <div class="form-group">
                            <label for="zipcode">ZipCode</label>
                            <input type="text" class="form-control" name="zipcode" id="zipcode" aria-describedby="helpZipCode" placeholder="ZipCode"
                                data-splash="value=address.zipcode">
                            <small id="helpZipCode" class="form-text text-muted">Help text</small>
                        </div>

                        <hr>
                        <h2>Geolocation</h2>

                        <div class="form-group">
                            <label for="lat">Lat</label>
                            <input type="text" class="form-control" name="lat" id="lat" aria-describedby="helpLat" placeholder="Lat" data-splash="value=address.geo.lat">
                            <small id="helpLat" class="form-text text-muted">Help text</small>
                        </div>

                        <div class="form-group">
                            <label for="lng">lng</label>
                            <input type="text" class="form-control" name="lng" id="lng" aria-describedby="helpLng" placeholder="lng" data-splash="value=address.geo.lng">
                            <small id="helpLng" class="form-text text-muted">Help text</small>
                        </div>

                        <hr>
                        <h2>Company</h2>
                        <div class="form-group">
                            <label for="company.name">name</label>
                            <input type="text" class="form-control" name="company.name" id="company.name" aria-describedby="helpCompanyName" placeholder="company name"
                                data-splash="value=company.name">
                            <small id="helpCompanyName" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="catchPhrase">catchphrase</label>
                            <input type="text" class="form-control" name="catchPhrase" id="catchPhrase" aria-describedby="helpCP" placeholder="catchphrase"
                                data-splash="value=company.catchPhrase">
                            <small id="helpCP" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                            <label for="bs">Business</label>
                            <input type="text" class="form-control" name="bs" id="bs" aria-describedby="helpBs" placeholder="business" data-splash="value=company.bs">
                            <small id="helpBs" class="form-text text-muted">Help text</small>
                        </div>

                    </div>
                </div>

                <button type="submit" name="submit" id="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>
    </div>
</div>